body{
    margin: 0 auto!important;
    width: 1080px;
}
/*menu*/
.menu{
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 8px;
}
.icon_hamb{
    width: 35px;
    height: 35px;
   background-image: url(../prototipo/images/menu.png);
   background-size: contain;
}
/*body*/
.total{
    border-top: 2px grey solid;
    float: left;
    width: 100%;
    height: 550px;
}
.capa1{
    background-color: #b4d4e8a3;
    float: left;
    height: 100%;
    width: 40%;
    text-align: center;
}
.img1{
    width: 300px;
    margin-top: 15px;
    margin-left: 5px;
}
.texto_venta{
    padding: 20px 54px;
    margin: 0px;
}
.capa2{
    float: left;
    height: 100%;
    text-align: center;
    width: 35%;
}
.img2{
    width: 275px;
    margin: 50px 0px 0px 25px;
}
.texto_venta2{
    padding: 10px 35px;
    margin: 0px;
}

.boton {
    background-color: #ec3d3d;
    color: white;
    width: 140px;
    padding: 15px 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-left: 30%;
    margin-top: 5%;
}

/* aside */
.listado {
    background-color: rgba(140, 200, 243, 0.45);
    float: left;
    height: 100%;
    text-align: justify;
    width: 245px;
    padding: 20px 12px;
    font-size: 17px;
}
.centra{
    text-align: justify;
}
.boton2 {
    background-color: rgba(39, 208, 129, 0.98);
    color: white;
    width: 120px;
    padding: 15px 15px;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    margin-left: 25%;
    margin-top: 20%;
}
.listado h3{
    width: 200px;
    margin: 0 auto;
    color: #3919b9;
}
/*footer*/
.abajo{
    background-color: rgb(241, 51, 51);
    width: 100%;
    height: 80px;
    line-height: 4px;
    float: left;
    color: white;
}
.foottxt{
    float: left;
    width: 75%;
    text-align: center;
}
.icons{
    width: 24%;
    float: left;
    text-align: right;
    margin-top: 18px;
}
.rrss{
    height: 45px;
    color: aliceblue!important;
}